body {
    background-color: #F8F8F8;
}

ul li {
    padding: 0;
    margin: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    out-line: none;
}

.box {
    width: 100%;
}

.news_box {
    width: 1200px;
}

.left_box {
    width: 900px;
}

.mbx_box {
    width: 900px;
    color: #999999;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 14px;

}

.mbx_box span {
    margin-left: 5px;
    color: #333;
    width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left_box {
    width: 900px;
}

.left_box_content {
    padding: 50px;
    background-color: #ffffff;
    min-height: 514px;
    border: 1px solid rgba(230, 230, 230, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.left_box_content h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

.left_box_sendtime {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    margin: 12px 0px;
}

.left_box_tj {
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 30px 50px;
    background-color: #ffffff;
    border: 1px solid rgba(230, 230, 230, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.left_box_tj_title {
    font-size: 20px;
    color: #333;
    font-weight: 400;
}

.left_box_tj_list {
    margin-top: 4px;
}

.left_box_tj_list ul li {
    margin-top: 20px;
}

.left_box_tj_list ul li a {
    color: #003CFF;
    font-size: 14px;
    cursor: pointer;
}

.right_box {
    width: 286px;
}

.right_box_item {
    background-color: #ffffff;
    margin-bottom: 21px;
    border: 1px solid rgba(230, 230, 230, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.right_box_item_top {
    height: 48px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.right_box_item_titleimg {
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

.right_box_item_title {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.right_box_item_content {
    padding: 20px 20px 0px 20px;
}

.right_box_item_content ul li {
    color: #333333;
    margin-bottom: 20px;
}

.right_box_item_content ul li a {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.right_box_item_content ul li a:hover {
    color: #FF773D;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-over-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
